body {
    background-color: #282a36; /* фон */
    font-family: 'JetBrains Mono', monospace; /* шрифт */
    margin: 0.2; /* отступы */
}

.container {
    display: flex; /* вкл. flex-контейнеры, изменяет структуру  */
    justify-content: space-between; /* відсутність відступів по краях */
}

.left-side {
	padding: 20px 5%; /* отступы верх-низ, лево-право */
    width: 35%; /* ширина контейнера */
}

.right-side {
	padding: 85px 5%; /* отступы верх-низ, лево-право */
    width: 35%; /* ширина контейнера */
    margin-right: 40%; /* отступ справа */
}


/* --- СТИЛИЗАЦИЯ ТЕКСТА --- */

/* основной текст в правой части */
.right-side p {
    color: #a9b1d6;
    line-height: 1.5; /* интервалы для читабельности */
    text-shadow: 0 0 5px rgba(169, 177, 214, 0.3); /* легкий эффект свечения */
}

/* текст в левой части */
.left-side p {
    color: #9ece6a;
    font-weight: 300; /* толщина текста */
}

/* имитация выделения в терминале */
p:hover {
    color: #f8f8f2; /* текст становится ярче */
}

h1 { color: #ff79c6; } /* <CV> */

h2 { 
    color: #bd93f9; /* для имени и разделов { } */
    font-size: 1.2rem;
}

h3 { 
    color: #6272a4; /* для // */
    margin-top: 20px;
}

/* цвет для навыков и языков */
p { 
    font-size: 0.9rem;
    line-height: 1.5;
    color: #f8f8f2;
}

/* $, <> и жирный текст */
strong { 
    color: #50fa7b; /* Неоново-зеленый для ключевых слов */
}